@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}


:root {
  --grey-light: #f6f6f6;
  --grey-dark: #2f2f2f;
  --black: #000000;
  --orange: #ff4d00;
  --content: var(--grey-light);
  --bg: var(--black);
  --text: var(--black);
  --highlight-orange: var(--orange);
  --highlight: var(--highlight-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --content: var(--grey-dark);
    --bg: var(--black);
    --text: var(--grey-light);
  }
}

html {
  font-size: 20px;
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  hyphens: auto;
}

p + p {
  margin-top: 1rem;
}

.leading-negative {
  line-height: 0.9;
}

.bg-highlight {
  background-color: var(--highlight);
}
.text-inherit {
  font-size: inherit;
}