@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css");

.image {
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: grayscale(1);
}

.lightbox-wrapper {
  display: flex;
  place-content: center;
  height: 100%;
  width: 100%;
}

.lightbox-image {
  object-fit: contain;
  width: 96rem;
}

.lightbox-close {
  position: absolute;
  color: white;
  background-color: black;
  border: none;
}