.link {
  position: relative;
  color: currentColor;
}

.link::before,
.link::after {
  @apply bg-text;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link::before {
  @apply bg-highlight;
  transition: 0.25s transform 0.25s ease-out;
}

.link + span {
  align-self: center;
  transition: transform 0.4s ease-out, background-size 0.4s ease-out, background-position-x 0.4s ease-out;
  transform: translateX(6px);
  transform-origin: center left;
  background-color: var(--text);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-size: 100%;
  background-blend-mode: exclusion;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: -20px;
  background-image: url("data:image/svg+xml;utf8,<svg style='height: 0.66rem; fill: white;' viewBox='0 0 73.082 74.219' xmlns='http://www.w3.org/2000/svg'><path d='M 73.082 37.109 L 35.973 74.219 L 26.811 65.128 L 48.153 43.786 L 0 43.786 L 0 30.433 L 48.153 30.433 L 26.811 9.126 L 35.973 0 L 73.082 37.109 Z' /></svg>");
}

.linkArrow:hover + span {
  transform: translateX(6px) scale(2, 2);
  background-size: 50%; 
  background-position-x: 50%;
}

.externalLink:hover + span {
  transform: scale(2, 2) translateX(6px) rotate(-45deg);
}

.linkArrowBack + span {
  transform: rotate(180deg);
}

.linkArrowBack:hover + span {
  transform: rotate(180deg) translateX(3px);
}

.link:hover::before,
.link:hover::after,
.link:active::before,
.link:active::after,
.link:focus::before,
.link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: 0.25s transform 0.25s ease-out;
}
.link:hover::before,
.link:active::before,
.link:focus::before {
  transition: transform 0.25s ease-out;
}