@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css');

.marker::before {
  content: '';
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  left: 50%;
  top: 50%;
  background-color: var(--highlight);
  outline: 1.5px solid var(--black);
  opacity: 1;
  transition: 0.2s transform;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.marker-disabled::before {
  background-color: var(--black);
  outline: 1px solid var(--highlight-dark);
}

.mapboxgl-marker:hover {
  z-index: 1;
}

.marker:hover::before {
  border-color: var(--white);
  transform: translate(-50%, -50%) scale(1.5);
}

.marker:hover .map-tooltip {
  display: block;
}

.map-tooltip {
  left: 50%;
  bottom: 1rem;
  padding: 0.15rem 0.3rem;
  background-color: var(--black);
  border: 1px solid var(--white);
  transform: translate(-50%);
}

.mapboxgl-marker {
}

.mapboxgl-marker:has(.marker-disabled) {
  z-index: 0;
}

.mapboxgl-marker:hover {
  z-index: 1;
}

.mapbox-map {
  position: relative;
}

.mapbox-button {
  position: absolute;
  padding: 0.25rem;
  top: -1px;
  right: -1px;
  background-color: var(--black);
  border: 1px solid var(--white);
}
